@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

body {
  margin: 0;
  padding: 0;
  background-color: #DDE4EA;
}

.header {
  overflow: hidden;
  background-color: #0C3A68;
  padding: 30px 10px;
  margin: 0;
  font-family: 'Quicksand';
  font-weight: 300;
  color: white;
  font-size: 25px
}

.header-right {
  float: right;
  padding-right: 50px;
}

.logo {
  padding-left: 50px;
}
