@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

body {
  margin: 0;
  padding: 0;
  /* background-color: #DDE4EA; */
}

.header {
  overflow: hidden;
  background-color: #0C3A68;
  padding: 20px 10px;
  margin: 0;
  font-family: 'Quicksand';
  font-weight: 300;
  color: white;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-right {
  float: right;
  padding-right: 50px;
}

.logo {
  padding-left: 50px;
  font-size: 30px;
  color: white;
}

a {
  padding: 14px 16px;
  color: #ddd;
}

.home {
  font-size: 20px;
  padding-bottom: 5px;
}
