.aggregate-icon-container {
  &:first-child {
    margin-left: 0;
  }
  padding: 4px;
  margin: 2px 0px 2px 10px;
  // border-radius: 10px;
  // box-shadow: 2px 2px 3px #cccccc;
  // background-color: #dddddd;
  width: 45px;
  text-align: center;
}
