@import url('https://fonts.googleapis.com/css?family=Roboto:300|Lato:300');

ul {
  font-family: 'Roboto';
  font-size: 20px;
  list-style: none;
  padding-top: 20px;
  grid-column-start: 2;
}

li {
  margin: 0 0 10px 0;
}

.list-item {
  /* background-color: white; */
  margin: 20px 50px;
  padding: 10px 10px;
  border-radius: 10px;
}

.perspective-holder {
  background-color: #fAfAfA;
  font-family: 'Lato';
  display: grid;
  grid-template-columns: 19% 60% 21%;
}

h3 {
  font-family: 'Lato';
  font-size: 30px;
  padding-left: 30px;
  margin-bottom: -20px;
  grid-column-start: 2;
}
