@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.perspective-list-item {

  font-family: 'Roboto';
  display: grid;
  grid-template-columns: 80% 20%;
  border-bottom: 1px solid #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
}

.perspective {
  margin-bottom: 20px;
  // grid-column-start: 2;
}

.actions {
  display: flex;
  flex-direction: row;
}
