@import url('https://fonts.googleapis.com/css?family=Barlow|Roboto:300');

ul {
  font-family: 'Roboto';
  font-size: 20px;
  list-style: none;
  padding-top: 20px;
  grid-column-start: 2;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-end; */
  /* padding: 0; */
  /* padding-left: 40px; */
  /* margin-top: -10px; */
  /* margin: auto; */
}

.fact-holder {
  display: grid;
  grid-template-columns: 19% 60% 21%;
  /* justify-content: center; */
  /* width: 55%; */
}
