@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.fact-list-item {
  font-family: 'Roboto';
  display: grid;
  grid-template-columns: 80px calc(80% - 80px) 20%;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fact {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
