@import url('https://fonts.googleapis.com/css?family=Barlow');

ul {
  font-family: 'Barlow';
  font-size: 20px;
  list-style: none;
}

ul.dashed > li {
  margin-left: 5px;
}

ul.dashed > li::before {
  content: '-';
  margin-left: -15px;
  padding-right: 5px;
}

li {
  margin: 0 0 10px 0;
}

.fact-holder {
  /* padding: 0px 40px; */
  background-color: white;
  margin: 20px 50px;
  padding: 10px 10px;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  font-size: 20px;
  text-align: left;
}
