@import url('https://fonts.googleapis.com/css?family=Barlow');

ul {
  font-family: 'Barlow';
  font-size: 20px;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 0 0 10px 0;
}

.fact-holder {
  /* padding: 0px 40px; */
  background-color: white;
  margin: 20px 50px;
  padding: 10px 10px;
  border-radius: 10px;
}
